@page
@model TaskManagementApp.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Detalles de la Tarea";
}

<div class="container mt-5">
    <h1 class="text text-center text-warning" >Detalles de la Tarea</h1>

    <div class="card shadow-sm mt-4 alert alert-secondary mt-4">
        <div class="card-body ">
            <h4 class="card-title">@Model.TaskItem.Titulo</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Descripción:</dt>
                <dd class="col-sm-9">@Model.TaskItem.Descripcion</dd>

                <dt class="col-sm-3 font-weight-bold">Fecha de Vencimiento:</dt>
                <dd class="col-sm-9">@Model.TaskItem.FechaVencimiento.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3 font-weight-bold">Estado:</dt>
                <dd class="col-sm-9">
                    @if (Model.TaskItem.Completada)
                    {
                        <span class="badge bg-success">Completada</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Pendiente</span>
                    }
                </dd>

                <dt class="col-sm-3 font-weight-bold">Correo del Usuario:</dt>
                <dd class="col-sm-9">@Model.UserEmail</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a asp-page="./Edit" asp-route-id="@Model.TaskItem.Id" class="btn btn-lg text-white bg-warning">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a asp-page="./Index" class="btn btn-secondary ml-2 btn-lg">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
</div>
